streamlit>=1.36.0

# LangChain 0.2.x 세트
langchain==0.2.10
langchain-community==0.2.10
langchain-openai==0.1.17
langchain-text-splitters==0.2.2

# Pinecone + 통합
langchain-pinecone==0.1.3
pinecone>=5.0.0   

# 기타
openai>=1.40.0
python-dotenv>=1.0.1
tiktoken
faiss-cpu==1.8.0.post1
